<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehaoyao.ordercenter.api.order.dao.BigCustomerBasicInfoEntityDao">
    <resultMap id="BaseResultMap" type="com.ehaoyao.ordercenter.api.order.entity.BigCustomerBasicInfoEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="customer_no" jdbcType="VARCHAR" property="customerNo"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_contact" jdbcType="VARCHAR" property="customerContact"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="county" jdbcType="VARCHAR" property="county"/>
        <result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>
    <sql id="sql_columns">
        id, customer_no, customer_name, customer_contact, province, city, county, shipping_address, create_by, create_date, update_date, update_by, remarks, del_flag
    </sql>
    <sql id="sql_where">
        <where>
            <if test="null != item.id and '' != item.id">and id = #{item.id}</if>
            <if test="null != item.customerNo and '' != item.customerNo">and customer_no = #{item.customerNo}</if>
            <if test="null != item.customerName and '' != item.customerName">and customer_name = #{item.customerName}
            </if>
            <if test="null != item.customerContact and '' != item.customerContact">and customer_contact =
                #{item.customerContact}
            </if>
            <if test="null != item.province and '' != item.province">and province = #{item.province}</if>
            <if test="null != item.city and '' != item.city">and city = #{item.city}</if>
            <if test="null != item.county and '' != item.county">and county = #{item.county}</if>
            <if test="null != item.shippingAddress and '' != item.shippingAddress">and shipping_address =
                #{item.shippingAddress}
            </if>
            <if test="null != item.createBy and '' != item.createBy">and create_by = #{item.createBy}</if>
            <if test="null != item.createDate">and create_date =#{item.createDate,jdbcType=TIMESTAMP}</if>
            <if test="null != item.updateDate">and update_date = #{item.updateDate,jdbcType=TIMESTAMP}</if>
            <if test="null != item.updateBy and '' != item.updateBy">and update_by = #{item.updateBy}</if>
            <if test="null != item.remarks and '' != item.remarks">and remarks = #{item.remarks}</if>
            <if test="null != item.delFlag and '' != item.delFlag">and del_flag = #{item.delFlag}</if>
        </where>
    </sql>
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="sql_columns"/>
        from big_customer_basic_info where id = #{id}
    </select>
    <select id="selectOne" resultMap="BaseResultMap">
        select
        <include refid="sql_columns"/>
        from big_customer_basic_info
        <include refid="sql_where"/>
    </select>
    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="sql_columns"/>
        from big_customer_basic_info
        <include refid="sql_where"/>
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from big_customer_basic_info
        <include refid="sql_where"/>
    </select>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="sql_columns"/>
        from big_customer_basic_info
        <include refid="sql_where"/>
    </select>
    <sql id="sql_save_columns">
        insert into big_customer_basic_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            create_date,
            <if test="null != item.customerNo">customer_no,</if>
            <if test="null != item.customerName">customer_name,</if>
            <if test="null != item.customerContact">customer_contact,</if>
            <if test="null != item.province">province,</if>
            <if test="null != item.city">city,</if>
            <if test="null != item.county">county,</if>
            <if test="null != item.shippingAddress">shipping_address,</if>
            <if test="null != item.createBy">create_by,</if>
            <if test="null != item.updateBy">update_by,</if>
            <if test="null != item.remarks">remarks,</if>
            <if test="null != item.delFlag">del_flag,</if>
        </trim>

    </sql>
    <sql id="sql_save_values">
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),
            <if test="null != item.customerNo">#{item.customerNo},</if>
            <if test="null != item.customerName">#{item.customerName},</if>
            <if test="null != item.customerContact">#{item.customerContact},</if>
            <if test="null != item.province">#{item.province},</if>
            <if test="null != item.city">#{item.city},</if>
            <if test="null != item.county">#{item.county},</if>
            <if test="null != item.shippingAddress">#{item.shippingAddress},</if>
            <if test="null != item.createBy">#{item.createBy},</if>
            <if test="null != item.updateBy">#{item.updateBy},</if>
            <if test="null != item.remarks">#{item.remarks},</if>
            <if test="null != item.delFlag">#{item.delFlag},</if>
        </trim>
    </sql>
    <insert id="save" keyProperty="item.id" useGeneratedKeys="true">
        <include refid="sql_save_columns"/>
        <include refid="sql_save_values"/>
    </insert>
    <insert id="batchSave">
        <foreach collection="list" index="index" item="item" open="" separator=";" close="">
            <include refid="sql_save_columns"/>
            <include refid="sql_save_values"/>
        </foreach>
    </insert>
    <sql id="sql_update">
        update big_customer_basic_info set id = #{item.id}
        <if test="null != item.customerNo">, customer_no = #{item.customerNo}</if>
        <if test="null != item.customerName">, customer_name = #{item.customerName}</if>
        <if test="null != item.customerContact">, customer_contact = #{item.customerContact}</if>
        <if test="null != item.province">, province = #{item.province}</if>
        <if test="null != item.city">, city = #{item.city}</if>
        <if test="null != item.county">, county = #{item.county}</if>
        <if test="null != item.shippingAddress">, shipping_address = #{item.shippingAddress}</if>
        <if test="null != item.createBy">, create_by = #{item.createBy}</if>
        <if test="null != item.createDate">, create_date = #{item.createDate}</if>
        <if test="null != item.updateDate">, update_date = #{item.updateDate}</if>
        <if test="null != item.updateBy">, update_by = #{item.updateBy}</if>
        <if test="null != item.remarks">, remarks = #{item.remarks}</if>
        <if test="null != item.delFlag">, del_flag = #{item.delFlag}</if>
        where id = #{item.id}
    </sql>
    <update id="update">
        <include refid="sql_update"/>
    </update>
    <update id="batchUpdate">
        <foreach collection="list" index="index" item="item" open="" separator=";" close="">
            <include refid="sql_update"/>
        </foreach>
    </update>
    <delete id="delById">
        DELETE FROM big_customer_basic_info
        WHERE id = #{item.id}
    </delete>
    <delete id="delArray">
        delete from big_customer_basic_info where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
    </delete>
    <delete id="delList">
        delete from big_customer_basic_info where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
    </delete>
</mapper>
